name: Java CI with Maven

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ '17', '21', '24', '25-ea' ]

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven on JDK ${{ matrix.java-version }}
      run: |
        mvn -B -ntp -f pom.xml -P it verify javadoc:javadoc
        for dir in examples/*/; do
          echo "Building $dir"
          mvn -B -ntp -f "$dir/pom.xml" compiler:compile
        done
